<div class ="header"><a href ="/"> hem</a>
<a href ="/registrera"> registrera</a>
<a href ="/loggin"> loggin</a>
<a href ="/skapaobjekt"> skapaobjekt</a>
<a href = "/admin">admin</a> 
<a href = "/ommig">ommig</a> 
</div>