
<article>
<h2>{{objekt.title}}</h2>
<p>klara objekt: <span class="primary">{{_id}}</span></p>
<p>{{objekt.bildnamn}}.. <a class="readmore" href="blog/{{objekt.länknamn}}">visa objekt !</a></p>
</article>
