<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<title>Portfolio</title>
<meta name="description" content="demo">
<meta name="author" content="Kevin">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>


<body>
   <div class="header-cp">
  <a href="http://localhost:1111/" class="layout-btn">Gymnasiearbete</a>
  <a  class= "layout-btn" href="http://localhost:1111/controlpanel/skapaobjekt">Skapa objekt</a>
  <a  class= "layout-btn" href="http://localhost:1111/controlpanel/listaobjekt">Lista objekt</a>
  <a  class= "layout-btn" href="http://localhost:1111/controlpanel/registrera">Registrera</a>
</div>


<div class = "maincp"> 

    {{{body}}}


</div>
</body>
</html>