<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">

<title>Portfolio</title>
<meta name="description" content="demo">
<meta name="author" content="Kevin">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>


<body>
   <div class="header-cp">
  <a href="http://localhost:1111/" class="logo">Gymnasiearbete</a>
  <div class="header-right">
    <a class="active" href="#home"></a>

  </div>
</div>

<div class="layout">
  <a  class= "layout-btn" href="http://localhost:1111/controlpanel/skapaobjekt">skapaobjekt</a>
  <a  class= "layout-btn" href="http://localhost:1111/controlpanel/listaobjekt">listaobjekt</a>
  <a  class= "layout-btn" href="http://localhost:1111/controlpanel/registrera">registrera</a>
</div>

<div class = "maincp"> 

    {{{body}}}


</div>
</body>
</html>