<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<title>Portfolio</title>
<meta name="description" content="demo">
<meta name="author" content="Kevin">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>


<body>
   <div class="header-cp">
  <a href="/controlpanel" class="layout-btn">Controlpanel</a>
  <a  class= "layout-btn" href="/controlpanel/skapaobjekt">Skapa objekt</a>
  <a  class= "layout-btn" href="/controlpanel/listaobjekt">Lista objekt</a>
  <a  class= "layout-btn" href="/controlpanel/registrera">Registrera</a>
  <a class= "layout-btn" href="/">Logout</a> 
</div>


<div class = "maincp"> 

    {{{body}}}

<footer>&copy; Kevin Lindström - 2019</footer>
</div>
</body>
</html>