<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">

<title>demo</title>
<meta name="description" content="demo">
<meta name="author" content="johan">

</head>

<body>
    {{{body}}}
</body>
</html>