<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">

<title>Portfolio</title>
<meta name="description" content="demo">
<meta name="author" content="johan">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
   <div class="header">
  <a href="#default" class="logo">Gymnasiearbete</a>
  <div class="header-right">
    <a class="active" href="#home"></a>
    <a href="#contact"></a>
    <a href="#about"></a>
  </div>
</div>

    {{{body}}}



</body>
</html>