<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<title>Portfolio</title>
<meta name="description" content="demo">
<meta name="author" content="johan">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>


<body>
  
   <div class="header">
  <div class="header-right">
    <div class="header-right">
      <a href="/" class="layout-btn">Gymnasiearbete</a>
      <a href ="/ommig" class ="layout-btn"> About me </a>
  <a  class= "layout-btn" href="http://localhost:1111/home/loggin">Login</a>
  </div>
</div>
</div>
    {{{body}}}



</body>
</html>