<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<title>Portfolio</title>
<meta name="description" content="demo">
<meta name="author" content="johan">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>


<body>
  
   <div class="header">
  <div class="header-right">
    <div class="header-right">
      <a href="/" class="layout-btn">Home</a>
      <a href ="/ommig" class ="layout-btn"> About me </a>
  <a  class= "layout-btn" href="http://localhost:1111/home/loggin">Login</a>
  </div>
</div>
</div>
    {{{body}}}


<footer>&copy; Kevin Lindström - 2019</footer>
</body>
</html>