<div class ="chat1">

    
<h1> ostkaka </h1>
<h2>Denna hemsida gjorde jag och jamal under kursen webbutveckling 1. det är en sida om rapparen 21 savage där man kan läsa om han och hans musik samt länkar till hans sociala medier.</h2>
<h2> här nedanför finns det en länk till github där jag har laddat upp koden för hemsidan</h2> 
<button onclick="window.location.href = 'https://github.com/kew1nator/21-savage-/tree/master/New%20Website';">Click Here</button>
</div>