
<div class= "objekt">
<div class ="skapaobjekt container-box-second top-margin">
    
<h1>Editera objekt</h1>
<form id="form" name="form" method="post" action="/controlpanel/visaobjekt/edit/{{skapaobjekt._id}}"> 
<div class="column">
Ladda upp bilder
<input type="file" value="{{skapaobjekt.bildnamn}}" name="bild" id="bild" /> <br />

Ladda upp l채nkar:<br />
<input class = "input" type="links" value="{{skapaobjekt.l채nknamn}}" name="l채nk" id="l채nk" /> <br />

<input class="submitbtn" type="submit" name="skicka" id="skicka" value="Skapa objekt" />

</div>
</div>



</form>
</div>