{{> menu }}
<p> sida 1 </p>
<div class="site">
<div class="box">
<a href="https://github.com/kew1nator/memory"><img class="bild" src  ="/static/pictures/memory.png"></a>
</div> 

<div class="box">
<a href="https://playsnake.org/"><img class="bild1" src  ="/static/pictures/snake.png">
</div> 

<div class="box">
<a href="https://github.com/kew1nator/chat"><img class="bild" src  ="/static/pictures/chat.png"></a>
</div>

<div class="box">
<a href="C:/Users/0007keli/Downloads/New_Website111/New Website/index.html"><img class="bild" src  ="/static/pictures/21 savage.jpg"></a>
</div>

<div class="box">
<img class="bild" src  ="/static/pictures/gy-arbete (1).jpg">
</div>

<div class="box">
<img class="bild" src  ="/static/pictures/memory.png">

</div>
</div>