{{> menu }}
<div class="site">
    <div class ="jamal">
{{#each objekt}}

<div class="box">
<a href="{{länknamn}}"><img class="bild" src  ="/static/pictures/{{bildnamn}} "></a>
</div>
{{/each}}
</div>
</div>