{{> menu }}
<div class="site">
    <div class ="jamal">
{{#each objekt}}

<div class="box">
<a href="/portfolio/visa/{{_id}}"><img class="bild" src  ="/static/images/{{bildnamn}} "></a>
</div>

{{/each}}



</div>
</div>