<div class = "listaobjekt">
<h3> klara objekt </h3>
{{#each objekt}}
<article>
<h2>{{title}}</h2>
<p>klara objekt: <span class="primary">{{_id}}</span></p>
<p>{{bildnamn}}.. <a class="readmore" href="/visaobjekt/{{_id}}">visa objekt !</a></p>
</article>
{{/each}}






</div>