<div class= "logginsida">
<div class ="loggin">
    <p class="login_text">logga in</p>
<form id="form" name="form" method="post" action=" "> 

<p class="login_text">användarnamn/ E-post adress:</p><br />
<input class = "input" type="text" name="anvandernamn" id="Anamn" /> <br />

<p class="login_text">Lösenord:</p><br />
<p class="login_text"><input class = "input" type="password" name="losenord" id="Lord" /></p> <br />


<input class = "btn" type="submit" value="" />

</form>
</div>
</div>