<div class= "logginsida">
<div class ="loggin">
    <p>logga in</p>
<form id="form" name="form" method="post" action=" "> 

användarnamn/ E-post adress:<br />
<input class = "input" type="text" name="Anamn" id="Anamn" /> <br />

Lösenord:<br />
<input class = "input" type="text" name="Lord" id="Lord" /> <br />


<input type="submit" name="skicka" id="skicka" value="Logga in" />

</form>
</div>
</div>