<div class= "logginsida">
<div class ="loggin">
    <p class="login_text">logga in / E-postadress</p>
<form id="form" name="form" method="post" action="/home/loggin"> 

<p class="login_text"></p><br />
<input class = "input" type="text" name="epostadress" id="Anamn" /> <br />

<p class="login_text">Lösenord</p><br />
<p class="login_text"><input class = "input" type="password" name="losenord" id="Lord" /></p> <br />


<p>{{meddelande}}</p>

<input class = "logginbtn" type="submit" value="" />

</form>
</div>
</div>