<div class ="ommmig container-box big">
<h1>Lite om mig</h1>
<p>Jag är 18 år gammal. Jag gillar att träna boxning och va med kompisar. Efter gymnasiet vill jag studera vidare till webbutvecklare och har sökt högskolor i stockholm.</p> 


</div>