<div class= "top-margin container-box">
<h1>Registrera</h1>
<form id="form" name="form" method="post" action="/controlpanel/registrera"> 

<p  >Username:</p>
<input class = "input" type="text" name="UserName" id="fnamn" /> <br />

<p >E-postadress:</p>
<input class = "input" type="text" name="epost" id="epost" /> <br />

<p >Lösenord:</p>
<input class = "input" type="password" name="losenord" id="lösenord" /> <br />

<input class="submitbtn" type="submit" name="skicka" id="skicka" value="Registrera" /> 

</form>
</div>