<div class= "kontakt">
<h3>Registrera</h3>
<form id="form" name="form" method="post" action="/portfolio/registrera"> 

<p class="login_text" >Username:</p><br />
<input class = "input" type="text" name="UserName" id="fnamn" /> <br />

<p class ="login_text">E-postadress:</p><br />
<input class = "input" type="text" name="epost" id="epost" /> <br />

<p class ="login_text">Lösenord:</p><br />
<input class = "input" type="password" name="losenord" id="lösenord" /> <br />

<input type="submit" name="skicka" id="skicka" value="registrera" />

</form>
</div>