<div class= "kontakt">
<h3>kontakta oss</h3>
<form id="form" name="form" method="post" action=" "> 

<p class="login_text" >Förnamn:</p><br />
<input class = "input" type="text" name="fnamn" id="fnamn" /> <br />

<p class="login_text" >Efternamn:</p><br />
<input class = "input" type="text" name="enamn" id="enamn" /> <br />

<p class ="login_text">E-postadress:</p><br />
<input class = "input" type="text" name="epost" id="epost" /> <br />

<p class ="login_text">Meddelande:</p><br />
<textarea name="meddelande" id="meddelande" cols="45" rows="5"></textarea> <br />

<input type="submit" name="skicka" id="skicka" value="Skicka meddelandet" />

</form>
</div>