<div class= "objekt container-box-second top-margin auto-height">
<div class ="skapaobjekt auto-height">
<h1> Objekt </h1>

<form id="form" name="form" method="post" action="/portfolio/create" enctype="multipart/form-data"> 
<div class="column" >
Title <br />
<input class = "input" type="links" name="title1" id="l채nk" /> <br />
Ladda upp l채nkar:<br />
<input class = "input" type="links" name="l채nk" id="l채nk" /> <br />
Text : <br />
<textarea class="desc" name="content"></textarea> 
<br />
Ladda upp bilder <br />
<input class = "input" type="file" name="bild" id="bild" /> <br />

<br />
<input class="submitbtn" type="submit" name="skicka" id="skicka" value="Skapa objekt" />

<br />
</div>
</div>


</form>
</div>