<div class= "objekt">
<div class ="skapaobjekt">
<p>skapa objekt</p>
<form id="form" name="form" method="post" action="/portfolio/create"> 
ladda upp bilder
<input class = "input" type="file" name="bild" id="bild" /> <br />

ladda upp länkar:<br />
<input class = "input" type="links" name="länk" id="länk" /> <br />

<input type="submit" name="skicka" id="skicka" value="skapa objekt" />

<br />
</div>



</form>
</div>