<div class ="portfolio">

{{#each objekt}}
<h2>{{content}}</h2> <br />

<h2> {{title1}} </h2>
<h2> här nedanför finns det en länk till github där jag har laddat upp koden för hemsidan</h2> <br />
<button onclick="window.location.href = '{{länknamn}}';">Click Here</button>
{{/each}}
</div>
