<div class ="objekt-container">
<div class ="objekt-list">
<div class="objekter">
<p class= "länknamn-text"> {{objekt.länknamn}} </p>
<p class ="objekt-text" >klara objekt: {{objekt.bildnamn}} </p>
</div>
</div>
</div>
