<div class ="objekt-container">
<div class ="objekt-list">
<div class="objekter">
<p class= "länknamn-text"> {{objekt.länknamn}} </p>
<p class ="objekt-text" >klara objekt: {{objekt.bildnamn}} </p> 
<a class = "del-button" href= "/controlpanel/visaobjekt/tabort/{{objekt._id}}"> Ta bort </a>
<a class = "edit-button" href= "/controlpanel/visaobjekt/edit/{{objekt._id}}"> edit </a>
</div>
</div>
</div>
