<div class = "listaobjekt container-box-second auto-height big ">


{{#each objekt}}
<h1> {{title1}} </h1> 
 <img class="bild" src  ="/static/images/{{bildnamn}} ">
<p>{{content}}</p> 

<a href="{{länknamn}}" class="submitbtn"  ><i class="fab fa-github"></i> GitHub</a>

{{/each}}
</div>