p {
  color: solid black;
} 

.site {
  width: 1300px ;
  margin: 0 auto;
  }

.jamal {
display: flex; 
flex-wrap: wrap;
justify-content : space-around;
}

.box {
    width: 350px;
    background: white;
    margin: 6px;
    height: 350px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  .header {
    background-color: black;
    padding: 20px 10px;
    width: 100%;
    height: 40px;
  }

  .header-cp {
    background-color: black;
    padding: 20px 10px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 54px;
    }

  .maincp{
display: inline-block;
float: right;
width: 1300px;
height: 100%;
  }

  .layout-btn{
    display: block;
      width: 160px;
      height: auto;
      border: 2px solid white;
      margin: 6px auto;
    background: red ;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    }

  .layout-bt a:hover {
    color: rgb(1, 0, 0);
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .layout {
    display: inline-block;
    height: 675px;
    width: 180px;
    background-color: #111;
    padding-top: 20px;
    position: fixed;
    margin-top: 80px;
  }
  
  .layout a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .maincp  {
    display: inline-block;
    float: right;
    width: 1300px;
    height: 100%;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
      float: none;
    }

  }

  .bild {
width: 100%;
height: 100% ;
  }

  .bild1 {
 width: 100%;
height: 100% ;
  }

  .kontakt {
border: solid white 4px;
height: 420px;
width: 400px;
margin: 120px auto;
padding: 20px;
    text-align: center
  }

  .input {
width: 340px; 
  }

.skapaobjekt {
  border: solid white 4px;
  height: 400px;
  width: 400px;
  margin: 120px auto; 
padding: 20px;
}

  .loggin {
  border: solid white 4px;
       height: 400px;
       width: 400px;
       margin: 120px auto; 
    padding: 20px; 
text-align: center
  }

.logginsida{
width: 100%;
height: 100%;
background-image: url ("./pictures/grå.jpg");
}

body {
background: url('./pictures/grå.jpg');
background-size: cover;
background-repeat: no-repeat;
color: white;
margin: 0 auto;
}

.login_text{
  float: left;
  padding: 0 0 0 26px;
  margin: 0 auto;
} 

.btn {
background: url('./pictures/login.png') no-repeat;
background-size: 100% 100%;
height: 40px;
width: 150px;
border: none;
margin: 20px;
}

.admin{
  border: solid white 4px;
  height: 400px;
  width: 400px;
  margin:0 auto; 
padding: 20px;
text-align: center 
}

.ommmig{
  border: solid white 4px;
  height: 400px;
  width: 400px;
  margin:0 auto; 
padding: 20px;
text-align: center;
}

.text{
font-size: 40px;
color: white;
text-align: left;
text-decoration: none;

}

.div-button{
  background:  white ;
  background-size: 100% 100%;
  height: 40px;
  width: 150px;
  border: none;
  margin: 20px;
text-decoration: none; 
color: black

}